
<footer class="border-top bg-background site-footer" role="contentinfo">
    <div class="container">

        {{ footer_menu }}

        {{ social_menu }}

        &copy; Copyright {{ 'now'|date('Y') }} {{ site_name}}

    </div>
</footer>
