
<div class="field field--name-field-media-video-file field__item">

    <video preload="none" loop="loop" muted="muted" width="640" height="480"
           {% if poster %}poster="{{ poster }}"{% endif %}
    >
        <source src="{{ url }}" type="video/mp4">
    </video>

</div>

