
$color--blue: #007bff;
$color--secondary--blue: #0E6BAC;
$color--grey: #3d3d3d;
$color--grey--light: #c9c9c9;


$color--primary: $color--blue;
$color--secondary: $color--secondary--blue;
$color--text: $color--grey;
$color--border: $color--grey;
$color--background: $color--grey--light;
