
// Icon sizes
$icon-size: 1.6rem;

// UI
$icon--right: '\e902';
$icon--left: '\e903';

// Social
$icon--facebook: '\e901';
$icon--instagram: '\e900';


// Icon include
@mixin fonticonSetup ($elem: before) {
    position:relative;
    &:#{$elem} {
        @include transitions();
        position: absolute;
        font-family:'icomoon';
        font-style:normal;
        font-weight:normal;
        speak:none;
        display:block;
        text-decoration:none;
        text-align:center;
        text-rendering:optimizeLegibility;
        float: left;
        z-index:2;
        text-indent:0;
    }
}

@mixin fonticon ($content: '', $icon-size: $icon-size, $color: inherit, $top: "", $left: "", $right: "", $bottom: "", $center: false, $middle: false, $elem: before) {
    --icon-size: #{$icon-size};
    &:#{$elem} {
        content: $content;
        color: $color;
        font-size: var(--icon-size);
        width: var(--icon-size);
        height: var(--icon-size);
        line-height: var(--icon-size);
        @if $top != '' and $top != 'auto' { top: $top; }
        @if $left != '' and $left != 'auto' { left: $left; }
        @if $right != '' and $right != 'auto' { right: $right; }
        @if $bottom != '' and $bottom != 'auto' { bottom: $bottom; }
        @if $center and $middle{ transform:translate(-50%,-50%); }
        @else{
            @if $center{ transform:translateX(-50%); }
            @if $middle{ transform:translateY(-50%); }
        }
    }
}
