<article class="media media--type-image media--view-mode-{{ style }}">
        <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                <div class="field__label visually-hidden">Image</div>
                <div class="field__item">
                        <img src="{{ src }}" alt="{{ alt }}" typeof="foaf:Image">
                </div>
        </div>
</article>